---
layout: default
disqus: false
post_class: note-template
---

<div id="content" class="site-content fadeInDown delay_075s">
    <main id="main" class="site-main outer">
        <article class="note-full inner">
            <div class="note-meta">
                <time class="note-date" datetime="{{ page.date | date: '%Y-%m-%d' }}" rel="bookmark">
                    {{ page.date | date: "%B %-d, %Y" }}
                </time>
            </div>
            <div class="note-content">
                {{ content }}
            </div>
        </article>
        <hr class="note-divider">
    </main>
</div>